---
---

@import "{{ site.theme }}";

.nav-bar {
    display: flex;
    justify-content: center;
    font-size: 20px;
    /*position: -webkit-sticky;
    position: sticky;*/
    top: 0;
    background-color: #1F4D9E;
    padding: 20px;
    
}

.nav-link {
    font-size: 20px;
    color: #FFFFFF;
    margin: 0px 20px;
}
.project-tagline {
    margin-bottom: 20px;
}
.header {
    background-color: #002668;
    background-image: none;
    padding: 50px;
}

.badge {
    margin-top: 10px;
    margin-bottom: 15px;
}

.btn {
    margin-bottom: 0;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4 {
    color: #1F4D9E;
}
